### 판다스 , 넘파이 응용

판다스 기본형 DataFrame, Serires의 각 데이터 타입 Numpy 타입을 사용

In [8]:
import pandas as pd
import numpy as np

In [9]:
# 시리즈 생성 
s1 = pd.Series(data=np.random.rand(100))
s1

0     0.579834
1     0.835864
2     0.637915
3     0.832169
4     0.956334
        ...
95    0.715666
96    0.094996
97    0.006849
98    0.023841
99    0.991649
Length: 100, dtype: float64

In [10]:
# 음수 제거, 10을 곱해서 10단위 수를 만들고, 반올림해서 소수점 
s2 = s1.abs().map(lambda x:x*10).round()
s2

0      6.0
1      8.0
2      6.0
3      8.0
4     10.0
      ...
95     7.0
96     1.0
97     0.0
98     0.0
99    10.0
Length: 100, dtype: float64

In [11]:
np.mean(s2)

5.35

In [12]:
s2.info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: None
Non-Null Count  Dtype
--------------  -----
100 non-null    float64
dtypes: float64(1)
memory usage: 932.0 bytes

In [14]:
# 판다스 데이터 기본통계 
s2.describe()

count    100.000000
mean       5.350000
std        2.889811
min        0.000000
25%        3.000000
50%        5.000000
75%        8.000000
max       10.000000
dtype: float64

In [19]:
s3 = pd.Series(data=[1,2,3, np.nan]*5)
s3

0     1.0
1     2.0
2     3.0
3     NaN
4     1.0
5     2.0
6     3.0
7     NaN
8     1.0
9     2.0
10    3.0
11    NaN
12    1.0
13    2.0
14    3.0
15    NaN
16    1.0
17    2.0
18    3.0
19    NaN
dtype: float64

In [20]:
pd.Series(data=[1,3,5, None]*5)
#  None =  np.nan

0     1.0
1     3.0
2     5.0
3     NaN
4     1.0
5     3.0
6     5.0
7     NaN
8     1.0
9     3.0
10    5.0
11    NaN
12    1.0
13    3.0
14    5.0
15    NaN
16    1.0
17    3.0
18    5.0
19    NaN
dtype: float64

In [21]:
s3.info()

<class 'pandas.core.series.Series'>
RangeIndex: 20 entries, 0 to 19
Series name: None
Non-Null Count  Dtype
--------------  -----
15 non-null     float64
dtypes: float64(1)
memory usage: 292.0 bytes

In [22]:
s3.describe()

count    15.000000
mean      2.000000
std       0.845154
min       1.000000
25%       1.000000
50%       2.000000
75%       3.000000
max       3.000000
dtype: float64

In [27]:
# 빈도 계산 , 속성 dropna = False
s3.value_counts(dropna = False)

1.0    5
2.0    5
3.0    5
NaN    5
Name: count, dtype: int64

In [30]:
# 결측치 확인수 
s3.isnull().sum()

5

##### 데이터 프레임과 넘파이

In [41]:
# 데이터 프레임 생성 -> 
size = 10
df1 = pd.DataFrame(data={
    'class': [np.random.choice(['A', 'B', 'C', 'D', 'F']) for _ in range(size)],
    'year': [np.random.randint(2010, 2024) for _ in range(size)],
    'month': [np.random.randint(1, 13) for _ in range(size)],
    'val1': [np.random.randint(1, 11) for _ in range(size)],
    'val2': [np.random.randint(100, 1000) for _ in range(size)],
    'val3': [np.random.randint(10000, 20000) for _ in range(size)],
})
df1

  class  year  month  val1  val2   val3
0     F  2010      4     4   397  13623
1     B  2020      9     4   545  14709
2     C  2015      8     4   908  19819
3     B  2018      2     1   615  11651
4     F  2019      9     9   182  10179
5     D  2015      5     5   712  14621
6     B  2017      5     3   768  19736
7     F  2011     12     7   296  16072
8     A  2017      6     4   110  11405
9     D  2020      2     3   699  10728

In [44]:
# shape 출력값과 2차원 배열과 1차원 배열 의미가 상이 
df1.shape

(10, 6)

In [45]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   class   10 non-null     object
 1   year    10 non-null     int64
 2   month   10 non-null     int64
 3   val1    10 non-null     int64
 4   val2    10 non-null     int64
 5   val3    10 non-null     int64
dtypes: int64(5), object(1)
memory usage: 612.0+ bytes